body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em; /* Larger header font */
    margin: 0;
}

header p {
    font-size: 1.2em; /* Slightly larger text */
    font-style: italic; /* Italicize the introduction */
}

.profile-pic {
    width: 100px; /* Adjusted size */
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    border: 3px solid white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50; /* Add an underline */
    padding-bottom: 5px;
}

ul {
    list-style-type: square; /* Change bullet style */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #4CAF50;
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
}
